/* font-family: 'Poppins', sans-serif;
font-family: 'Source Sans Pro', sans-serif; */

body,p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 1.25rem;
  

}

body {
    background-color: var(--color-white);
    color: var(--color-black);
}
h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 3.052rem;
    text-transform: uppercase;

}

h2,
h3 {
    font-size: 2.441rem;
}

h4 {
    font-size: 1.953rem;
}


.text-colored {
    color: var(--color-mainred)
}

.body-text-small {
    font-size: 1rem;
}

.body-text {
    font-size: 1.25rem;
    font-weight: 400;
}

.figure-individuals {
    font-size: 2.441rem;
    font-weight: 700;
    margin-right: 2em;
    color: var(--color-black);
}

.uppercase {
    text-transform: uppercase;
}

.animal-image-card {
    color: var(--color-grey4);
    letter-spacing: .4px;
}

.development-indicator {
    background-color: var(--color-palegreen);
    color: var(--color-darkgreen);

    padding: .5em 1em;
    letter-spacing: .5px;
    border-radius: 2em;
    margin-top: .5em;
}

.development-indicator p {
    font-weight: 700;
}