/* font-family: 'Poppins', sans-serif;
font-family: 'Source Sans Pro', sans-serif; */

/* ============== GENERAL STYLES  ============== */
body,
p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 1.25rem;


}

body {
    background-color: var(--color-white);
    color: var(--color-black);
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 3.052rem;
    text-transform: uppercase;

}

h2,
h3 {
    font-size: 2.441rem;
}

h4 {
    font-size: 1.953rem;
    margin-bottom: 1em;
}

a {
    color: var(--color-black);
}
a:hover {
    color: var(--color-mainred);
}
a:active {
    color: var(--color-darkred);
}

/* Special Styles */

.section-heading {
    margin-bottom: 2em;
}

.text-colored {
    color: var(--color-mainred)
}

.body-text-small {
    font-size: 1rem;
}

.body-text {
    font-size: 1.25rem;
    font-weight: 400;
}

.figure-individuals {
    font-size: 2.441rem;
    font-weight: 700;
    margin-right: 2em;
    color: var(--color-black);
}

.body-text-uppercase {
    text-transform: uppercase;
}

.body-text-color {
    color: var(--color-mainred)
}

.latin-name {
    margin-bottom: 1em;
}

.breadcrumb {
    margin: 2em auto;

}

.breadcrumb a {
    font-size: 1rem;
}

.animal-image-card {
    color: var(--color-grey4);
    letter-spacing: .4px;
}

.development-indicator {
    background-color: var(--color-palegreen);
    color: var(--color-darkgreen);

    padding: .5rem 1rem;
    letter-spacing: .5px;
    border-radius: 5em;
    margin-top: .5em;
    white-space: nowrap;
}

.development-indicator-text {
    font-weight: 700;
    font-size: inherit;
}

.newscard a {
    text-decoration: underline;
    text-underline-offset: 3px;
}

    @media (max-width:900px) {

        body,
        .figure-description,
        .body-text {
            font-size: 1rem;
        }

        h1 {
            font-size: 2.438rem;
        }

        h2,
        h3,
        .figure-individuals {
            font-size: 1.5rem;
        }

        h4 {
            font-size: 1.25rem;
        }
        p {
            font-size: 1rem;
        }
        .body-text-small {
            font-size: .8rem;
        }

        .box-spacing {
            padding: 4em;
        }

    }