.flex {
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.divider {
    height: 2px;
    background-color: var(--color-black);
    margin-bottom: 1.5em;
}
/* Stage Section */

.margin-top {
    margin-top: 2em;
}

.margin-top-auto{
    margin-top: auto;
}

.margin-right {
    margin-right: 2rem;
}

.conservation-status {
    margin-top: 2em;
}

.animal-fact-box {
    margin-top: 2em;
}

/* sections */
section {
    margin-bottom: 6em;
}

/* Population Section */

.animal-population {
    padding: 4em 0;
    ;
}



/* grid styles */
@media (min-width: 900px) {

    .grid {
        display: grid;

    }

    .grid-detailpage {
        grid-template: 1fr 1fr / 1fr 1fr;
        grid-template-areas:
            " animal-image-card conservation-status"
            " animal-image-card animal-fact-box";
        gap: 1.5em;

    }

    .animal-image-card {
        margin-top: 0em;
    }

    .conservation-status {
        margin-top: 0em;
    }

    .animal-fact-box {
        margin-top: 0em;
    }

    .animal-image-card {
        grid-area: animal-image-card;
    }

    .conservation-status {
        grid-area: conservation-status;

    }

    .animal-fact-box {
        grid-area: animal-fact-box;
    }


    .flex-dsk {
        display: flex;
        justify-content: space-between;
        margin: 2em 0;
    }

    .col1 {
        width: 48%;
    }

    .col2 {
        width: 48%;
    }
}

/* footer */
.footer {
    background: #000;
    padding: .5em 0px;
    font-family: inherit;
    text-align: center;
}

.footer .row {
    width: 100%;
    margin: 1% 0%;
    padding: .5% 0%;
    color: var(--color-white);
    font-size: 0.8em;
}

.footer .row a {
    text-decoration: none;
    color: var(--color-white);
    transition: 0.5s;
}

.footer .row a:hover {
    color: var(--color-mainred);
}

.footer .row ul {
    width: 100%;
}

.footer .row ul li {
    display: inline-block;
    margin: 0px 30px;
}

.footer .row a i {
    font-size: 2em;
    margin: 2% 4%;
}


@media (max-width:720px) {
    .footer {
        text-align: left;
        padding: 5%;
    }

    .footer .row ul li {
        display: block;
        margin: 10px 0px;
        text-align: left;
    }

    .footer .row a i {
        margin-left: 0%;
    }
}

@media (max-width: 899px) {
    .animal-fact-box {
        flex-direction: column;
    }
}