.flex {
    display: flex;
}


/* Stage Section */

.margin-top{
    margin-top: 2em;
}
.margin-right{
    margin-right: 2rem;
}
.conservation-status {
    margin-top: 2em;
}

.animal-fact-box {
    margin-top: 2em;
}

/* sections */
section {
    margin-bottom: 6em;
}
/* Population Section */

.animal-population {
    padding: 4em 0;
    ;
}



/* grid styles */
@media (min-width: 900px) {

    .grid {
        display: grid;

    }

    .grid-detailpage {
        grid-template: 1fr 1fr / 1fr 1fr;
        grid-template-areas:
            " animal-image-card conservation-status"
            " animal-image-card animal-fact-box";
        gap: 1.5em;

    }

    .animal-image-card {
        margin-top: 0em;
    }

    .conservation-status {
        margin-top: 0em;
    }

    .animal-fact-box {
        margin-top: 0em;
    }

    .animal-image-card {
        grid-area: animal-image-card;
    }

    .conservation-status {
        grid-area: conservation-status;

    }

    .animal-fact-box {
        grid-area: animal-fact-box;
    }


    .flex-dsk {
        display: flex;
        justify-content: space-between;
        margin: 2em 0;
    }

    .col1 {
        width: 48%;
    }

    .col2 {
        width: 48%;
    }
}


@media (max-width: 600px){
    .animal-fact-box {
        flex-direction: column;
    }
}