img {
    display: block;
    object-fit: cover;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
 
}

.img-animal {
  width:100%;
}

.svg-icon{

object-fit:contain;

}

.no-image {
  background: var(--color-black);
}

