/* dotted line */


.conservation-li-item {
    width: 2.5em;
    height: 2.5em;
    text-align: center;
    line-height: 2.2em;
    border-radius: 2em;
    background: white;
    margin: 0 .6em;
    display: inline-block;
    color: var(color--black);
    position: relative;
    border: var(--color-grey2) 2px solid;
}

li::before {
    content: '';
    position: absolute;
    top: 1em;
    left: -4em;
    width: 4em;
    height: .2em;
    background: var(--color-grey2);
    z-index: -1;
}


li:first-child::before {
    display: none;
}

.li-active {
background-color: var(--color-mainred); 
   color: var(--color-white);
   border: var(--color-mainred) 2px solid;
  
}