/* dotted line */


/* .conservation-li-item {
    font-size: 1.25rem;
    width: 2.5em;
    height: 2.5em;
    text-align: center;
    line-height: 2.2em;
    border-radius: 2em;
    background: white;
    margin: 0 .6em;
    display: inline-block;
    color: var(color--black);
    position: relative;
    border: var(--color-grey2) 2px solid;
}

li::before {
    content: '';
    position: absolute;
    top: 1em;
    left: -4em;
    width: 4em;
    height: .2em;
    background: var(--color-grey2);
    z-index: -1;
}


li:first-child::before {
    display: none;
}

.li-active {
background-color: var(--color-mainred); 
   color: var(--color-white);
   border: var(--color-mainred) 2px solid;
  
} */

.conservation-scale {
    text-align: justify;
    position: relative;
    overflow: hidden;
  }
  .conservation-scale:before, .active:after {
    content: '';
    width: 100%;
    border: 2px solid var(--color-grey4);
    position: absolute;
    top: 1em;
    margin-top: -2px;
    z-index: -1;
  }
 
  .conservation-scale:after {
    content: "";
    display: inline-block;
    width: 100%;
  }
  .conservation-li-item {
    font-size: 1rem;
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 2em;
    border-radius: 50%;
    background: var(--color-white);
    margin: 0 1em;
    display: inline-block;
    color: var(--color-black);
    border: 3px solid var(--color-grey4);
  }
